.inline-suggest {
  position: relative;
  color: #333;
  
  input {
    display: block;
    background-color: transparent;
    position: relative;
    padding: 5px;
    background: #fff;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 0;
    font-weight: normal;
    font-family: sans-serif;
    font-style: normal;
    font-size: 19px;
  }

  div {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 0;
    bottom: 0;
    padding: 5px;
    opacity: .4;
    margin: 0;
    letter-spacing: 0;
    font-weight: normal;
    font-family: sans-serif;
    font-style: normal;
    font-size: 19px;
    box-sizing: border-box;
  }
}
